<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Test Suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener
                class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="My Test">
        <classes>
            <class name="org.test.tests.ButtonTest"/>
        </classes>
    </test>
</suite>